<main class="detail-container">
    <div class="ticket-detail">
        {% include "tickets/partials/detail-page/ticket-header.html" %}

        {% include "tickets/partials/detail-page/description-section.html" %}

        <!-- Solution -->
        {% if ticket.solution != '' %}
            {% include "tickets/partials/detail-page/solution-section.html" %}
        {% endif %}

        {% include "tickets/partials/detail-page/ticket-meta.html" %}

        {% include "tickets/partials/detail-page/action-buttons.html" %}
    </div>
</main>