.footer {
    background-color: var(--header);
    color: white;
    padding: 0.6rem 1rem;
    text-align: center;
}

.main-content {
    flex: 1;
}

.footer-content p {
    margin: 0;
    font-size: 0.7rem;
}
