{# Include the head section for the get started page #}
{% include "tickets/partials/head/head-get-started.html" %}
    <body>
        {# Include the header specific to the get started page #}
        {% include "tickets/partials/get-started-page/get-started-header.html" %}

        {# Include the main content section for the get started page #}
        {% include "tickets/partials/get-started-page/main-get-started.html" %}

        {# Include the global footer #}
        {% include "global/footer.html" %}
    </body>
</html>