.footer {
    background-color: var(--header);
    color: white;
    padding: 0.6rem var(--spacing-md);
    text-align: center;
}

.main-content {
    flex: 1;
}

.footer-content p {
    margin: 0;
    font-size: 0.7rem;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    color: white;
    text-shadow: 0 0 2px white;
}